/**
 * sass > _defaults.scss
 * @author Matthew Burrows <matthew.burrows@essencedigital.com>
 */

$base-font: 16px !default;

/* DEFAULT BRAND COLOURS
 ******************************/

$white: #fff;
$black: #000;

$brand-primary-alpha: #B9E1CF !default; // Turquiose.
$brand-primary-beta: #C4646D !default; // Burgundy.
$brand-primary-charlie: #444 !default; // Dark grey.
$brand-primary-delta: #CECECE !default; // Light grey.

$font-alpha: "Merriweather", serif; // Merriweather from Google fonts.