* {
    @include box-sizing(border-box);
}

html,
body {
    height: 100%;
    min-height: 100%;
    background-color: $white;
    color: $text-alpha;
    font-family: $merriweather;
    font-size: 16px;
    font-weight: 300px;
    line-height: 1.5;
}

.faux-table {
    width: 100%;
    height: 100vh;
    display: table;
    .faux-table__cell {
        width: 100%;
        @include rem("max-width", 960px);
        display: table-cell;
        margin: 0 auto;
        @include rem("padding", 0 40px);
        vertical-align: middle;
        text-align: center;       
    }
}