            </div>
            <footer class="site-footer">
                <div class="grid">
                    <div class="grid__row">
                        <div class="grid__column lg--column-6-12">
                            &copy; {{ site.time | date: "%Y" }} Matthew Burrows.
                        </div>
                        <div class="grid__column lg--column-6-12 align-right">
                            Hand made in London.
                        </div>
                    </div>
                </div>
            </footer>
        <script>
            var APP = window.APP = {}; 
        </script>
        <script src="/js/app.js"></script>
    </body>
</html>