@mixin rem($property, $px, $base: 16px) {
    $rem: $base / 1rem;
    #{$property}: $px;

    @if type-of($px) == "number" {
        #{$property}: $px / $rem;
    }
    @else {
        $rem-values: unquote("");

        @each $value in $px {
            @if $value == 0 {
                $rem-values: append($rem-values, $value);
            }
            @else {
                $rem-values: append($rem-values, $value / $rem);
            }
        }
        
        #{$property}: $rem-values;
    }
}
