p {
    @include rem("margin-bottom", 24px);
    @include rem("font-size", 16px);

    @include media-query("medium") {
        @include rem("margin-bottom", 30px);
        @include rem("font-size", 18px);
    }
}

small {}

address {}

em,
i {
    font-style: italic;
}

strong,
b {
    font-weight: 700;
}

del {
    color: #f00;
    text-decoration: line-through;
}
