---
layout: default
title: Random thoughts &amp; Scribbles
---

<div class="table-module table--beta">
    <section class="table-module__cell cell--alpha">
        <h1>Journal</h1>
        {% for post in site.posts %}
            <section class="post-list">
                <article class="post-list__item">
                    <h1 class="post-list__title"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h1>
                    <time class="post-list__date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</time>
                </article>
            </section>
        {% endfor %}
        <!-- <div class="pagination">
            <ul>
                {% if paginator.previous_page %}
                    <li class="pagination__item">
                        <a href="/journal/{{ paginator.previous_page }}" class="icon icon--arrow-left-alpha"><span class="span is-hidden">Previous</span></a>
                    </li>
                {% else %}
                    <li class="pagination__item is-disabled">
                        <span class="icon icon--arrow-left-alpha"><span class="span is-hidden">Previous</span></span>
                    </li>
                {% endif %}
                <li class="pagination__item">Page: {% if paginator.page %}{{ paginator.page }}{% else %}1{% endif %} of {% if paginator.total_pages %}{{ paginator.total_pages }}{% else %}1{% endif %}</li>
                {% if paginator.next_page %}
                    <li class="pagination__item">
                        <a href="/journal/{{ paginator.next_page }}" class="icon icon--arrow-right-alpha"><span class="span is-hidden">Next</span></a>
                    </li>
                {% else %}
                    <li class="pagination__item is-disabled">
                        <span class="icon icon--arrow-right-alpha"><span class="span is-hidden">Next</span></span>
                    </li>
                {% endif %}
            </ul>
        </div> -->
    </section>
</div>