// Animate in
@-webkit-keyframes animate-in {
    0% {
        opacity: 0;
        -webkit-transform: translate(-25px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }
}
@keyframes animate-in {
    0% {
        opacity: 0;
        transform: translate(-25px, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

// Animate out
@-webkit-keyframes animate-out {
    0% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-25px, 0);
    }
}
@keyframes animate-out {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(-25px, 0);
    }
}