<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Matt.J.Burrows | Coming soon...</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/screen.css">

    </head>
    <body>
        
        <div class="faux-table">

            <header class="faux-table__cell">
                <p><span class="h3">Matt.J.Burrows</span><br>Senior Front-end Developer</p>
                <ul class="h6">
                    <li><a href="http://github.com/mattjburrows/" target="_blank">github.com/mattjburrows</a></li>
                    <li><a href="http://twitter.com/mattjburrows/" target="_blank">twitter.com/mattjburrows</a></li>
                </ul>
            </header>
        
        </div>
        
        <div class="faux-table">

            <section class="faux-table__cell">
                <p>Hi, I'm Matt. What's your name?</p>
                <p><input type="text" placeholder="enter name" id="user-name-input" class="user-input"></p>
                <p id="user-navigation" class="is-invisible">Hi <span id="user-name"></span>, what do you want see? <a href="#github">My repositories</a> or <a href="#twitter">my twitter feed</a>?</p>
            </section>
            
        </div>
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>
        // Load jQuery if the Google CDN is down.
        window.jQuery || document.write("<script type=\"text/javascript\" src\"jquery-1.10.2.min.js\"><\/script>");
        // Create our App namespace.
        var App = window.App = function(){};
        </script>

        <script src="/js/vendor/twitter-fetcher.10.0.0.min.js"></script>
        <script src="/js/vendor/underscore.min.js"></script>
        <script src="/js/vendor/backbone.min.js"></script>

        <script src="/js/collections.js"></script>
        <script src="/js/models.js"></script>
        <script src="/js/views.js"></script>
        <script src="/js/app.js"></script>

    </body>
</html>
