<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Matt.J.Burrows | Coming soon...</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/screen.css">

    </head>
    <body>
        
        <div class="page-container">

            <section class="text-module">
                
                <p><span class="h3">Matt.J.Burrows</span><br>Senior Front-end Developer</p>
                <ul class="h6">
                    <li><a href="http://github.com/mattjburrows/" target="_blank">github.com/mattjburrows</a></li>
                    <li><a href="http://twitter.com/mattjburrows/" target="_blank">twitter.com/mattjburrows</a></li>
                </ul>
            
            </section>
        
        </div>

    </body>
</html>
